<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Création d'une coopérative">
      <form #cooperativeForm="ngForm" class="editForm" (ngSubmit)="createCooperative(cooperativeForm.value)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Choix pays</label>
                <select (change)="getTown($event)" class="form-control" id="CountryId" name="CountryId">
                  <option value="0">--- Choix pays ---</option>
                  <option *ngFor="let country of countries" value="{{country.Id}}">{{country.Code}} - {{country.Name[0].Text}}</option>
                </select>
              </div>           
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Choix ville</label>
                <select [disabled]="cooperativeForm.value.CountryId" class="form-control" ngModel id="TownId" name="TownId">
                  <option value="0">--- Choix de la ville ---</option>
                  <option *ngFor="let town of towns" value="{{town.Id}}">{{town.Code}} - {{town.Name[0].Text}}</option>
                </select> 
              </div>           
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Code de la coopérative</label>
                <input minlength="6" maxlength="6" id="Code" name="Code" ngModel type="text" class="form-control" placeholder="Code">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Nom coopérative (Français)</label>
                <input maxlength="25" id="NameText1" name="NameText1" ngModel type="text" class="form-control" placeholder="Libellé français" >
              </div>            
            </div>
            <div [hidden]="enOn" class="col-md-2">
              <label> Ajouter une langue </label>
              <button (click)="langueBtn()" type="button" class="btn btn-outline-primary"><i class="feather icon-plus"></i>Ajouter</button>
            </div>
            <div [hidden]="!enOn" class="col-md-5">
              <div class="form-group">
                <label>Nom coopérative (Anglais)</label>
                <input maxlength="25" id="NameText2" name="NameText2" ngModel type="text" class="form-control" placeholder="Libellé Anglais">
              </div>   
            </div> 
            <div [hidden]="!enOn" class="col-md-2">
              <label> Supprimer la langue </label>
              <button (click)="langueBtn()"  type="button" class="btn btn-outline-danger"><i class="feather icon-trash"></i>Supprimer</button>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" uiSref="work" class="btn btn-success btn-raised" > Ajouter <span style="margin-left:10px;"><i class="feather icon-edit"></i></span></button>
          </div>
      </form>
    </app-card>
  </div>
</div>
