<div class="auth-wrapper offline">
  <div class="text-center">
    <h1 class="mb-4">Coming Soon</h1>
    <h5 class="text-muted mb-4">Votre plateforme de tontine sera bientôt disponible</h5>
  </div>
</div>
