<ngx-ui-loader></ngx-ui-loader>
<div id="authWrapper" class="auth-wrapper">
  <div class="auth-content">
    <div class="card"> 
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Inscription membre</h3> 
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)" class="form form-login">
          <div class="input-group mb-3">
            <input (change)="formVerification()" id="LastName" name="LastName" ngModel type="text" class="form-control" placeholder="Nom">
          </div>
          <div class="input-group mb-3">
            <input [disabled]="registerForm.value.LastName == ''"  name="FirstName" ngModel type="text" class="form-control" placeholder="Prénoms">
          </div>
          <div class="input-group mb-3">
            <input [disabled]="registerForm.value.FirstName == '' && registerForm.value.FirstName == ''"  name="Username" ngModel type="text" class="form-control" placeholder="Nom d'utilisateur">
          </div>
          <div class="input-group mb-3">
            <input [disabled]="registerForm.value.Username == ''"  name="Email" ngModel type="email" class="form-control" placeholder="Email">
          </div>
          <div class="input-group mb-3">
            <input [disabled]="registerForm.value.PhoneNumber == ''"  name="PhoneNumber" ngModel type="text" class="form-control" placeholder="Contact">
          </div>
          <select name="select" class="form-control form-control-sm">
                    <option value="" >--- Choix de langue ---</option>
                    <option value="1" >Français</option>
                    <option value="2" >English</option>
                  </select>
                  <br>
          <div class="form-group text-left">
            <div class="checkbox checkbox-fill d-inline">
              <input [(ngModel)]="remember" type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
              <label for="checkbox-fill-a1" class="cr">Se souvenir de moi</label>
            </div>
          </div>
          <button [disabled]="registerForm.value.LastName == '' || registerForm.value.FirstName  == ''  || registerForm.value.Username  == '' || registerForm.value.Email== '' " class="btn btn-danger mb-4">Créer mon compte</button>
          <p class="mb-0 text-muted">Déjà membre? <a [routerLink]="['/auth/signin']">Se connecter </a></p>
        </form>
      </div>
    </div>
  </div>
</div>
