<ngx-ui-loader></ngx-ui-loader>
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Gestion des membres " [options]="false">
      <div class="col-sm-6">

      </div>
      <div style="display: flex; justify-content: space-between;">
          <div style="display: inline;" class=" col-sm-10 form-group">
            <label for="exampleFormControlSelect1">Choix de la cooperative</label>
            <select (change)="getMemberList(cooperativeId)"  class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
              <option value="0">--- Choix coopérative ---</option>
              <option *ngFor="let cooperative of cooperativeList" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
            </select>
          </div>
        <button [routerLink]="['/member/add']" style="width: 20%!important;border-radius: 5px; margin-top: 1.7em; height: 3.5em;" class="btn btn-primary mb-2">
          <i class="fa fa-plus">
            Ajouter un membre
          </i>
        </button>
      </div>
      <div [hidden]="!CoopSelected" class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border table-hover">
          <thead>
          <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Prenoms</th>
            <th>Date de naissance</th>
            <th>Contact</th>
            <th>Statut</th>
            <th>Afficher</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of memberList">
            <td>{{member.MemberCode}}</td>
            <td>{{member.Lastname}}</td>
            <td>{{member.Firstname}}</td>
            <td>{{member.BirthDate}}</td>
            <td>{{member.PhoneNumber}}</td>
            <td *ngIf="member.IsActive"><button (click)="confirmChangeMemberStatus(member.Id, member.IsActive)" type="button" class="btn btn-success"><i class="feather icon-check-circle"></i>Success</button></td>
            <td *ngIf="!member.IsActive"><button (click)="confirmChangeMemberStatus(member.Id, member.IsActive)" type="button" class="btn btn-outline-danger"><i class="feather icon-slash"></i>Inactif</button></td>
            <td> 
              <button (click)="open(memberModal)" (click)="getMemberDetails(member.Id)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-eye"></i></button>
            </td>
            <td> 
              <button (click)="open(memberModal)" (click)="getMemberDetails(member.Id)" type="button" class="btn btn-icon btn-outline-warning"><i class="fa fa-edit"></i></button>
            </td>
            <td>
              <button (click)="confirmDeleteMember(member.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Prénoms</th>
            <th>Date de naissance</th>
            <th>Contact</th>
            <th>Statut</th>
            <th>Afficher</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </tr>
          </tfoot>
        </table>
      </div>
    </app-card>
  </div>
</div>
 
<ng-template #memberModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Création de type tontine</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group"> 
        <div class="col-md-8">
          <form #form="ngForm" autocomplete="off">        
            <div class="form-group">
              <label>Code membre</label>
              <input disabled name="memberDetails.MemberCode" [(ngModel)]="memberDetails.MemberCode" type="text" class="form-control" placeholder="Code membre">
            </div>
            <div class="form-group">
              <label>Nom</label>
              <input name="memberDetails.Lastname" [(ngModel)]="memberDetails.Lastname" type="text" class="form-control" placeholder="Nom du membre" >
            </div>            
            <div class="form-group">
              <label> Prenoms</label>
              <input name="memberDetails.Firstname" [(ngModel)]="memberDetails.Firstname" type="text" class="form-control" placeholder="Prénoms membre">
            </div>  
            <div class="form-group">
              <label>Contact</label>
              <input name="memberDetails.PhoneNumber" [(ngModel)]="memberDetails.PhoneNumber" class="form-control" placeholder="Contact membre">
            </div>   
            <div class="form-group">    
              <label> Date de naissance</label>
              <input name="memberDetails.BirthDate" [(ngModel)]="memberDetails.BirthDate" type="date" class="form-control" placeholder="Date de naissance">
            </div>    
          </form>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="updateMember(memberDetails.Id, memberDetails)">Modifier</button>
  </div>
</ng-template>
