<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Création d'un membre">
      <form #cooperativeForm="ngForm" class="editForm" (ngSubmit)="createMember(cooperativeForm.value)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Choix de la cooperative</label>
                <select class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
                  <option value="0">--- Choix coopérative ---</option>
                  <option *ngFor="let cooperative of cooperatives" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
                </select>
              </div>           
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Code membre</label>
                <input minlength="6" maxlength="6" id="MemberCode" name="MemberCode" ngModel type="text" class="form-control" placeholder="Code du membre">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Nom</label>
                <input id="FirstName" name="FirstName" ngModel type="text" class="form-control" placeholder="Nom" >
              </div>            
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label> Prénoms</label>
                <input id="LastName" name="LastName" ngModel type="text" class="form-control" placeholder="Prénoms">
              </div>            
            </div>        
            <div class="col-md-5">
              <div class="form-group">
                <label> Contact</label>
                <input id="PhoneNumber" name="PhoneNumber" ngModel type="text" class="form-control" placeholder="Contact">
              </div>            
            </div>  
            <div class="col-md-5">
              <div class="form-group">
                <label> Date de naissance</label>
                <input id="BirthDate" name="BirthDate" ngModel type="date" class="form-control" placeholder="Date de naissance">
              </div>            
            </div>  
          </div>
          <div class="form-group text-center">
            <button type="submit" uiSref="work" class="btn btn-success btn-raised"> Ajouter <span style="margin-left:10px;"><i class="feather icon-edit"></i></span></button>
          </div>
      </form>
    </app-card>
  </div>
</div>
