<ul class="navbar-nav">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement='auto'>
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-settings"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
          <span>{{lastName}} {{firstName}}</span>
        </div>
        <ul class="pro-body">
          <li (click)="openSettings()"><a href="javascript:" class="dropdown-item"><i class="feather icon-settings"></i> Paramètres</a></li>
          <li (click)="openProfile()"><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
          <li (click)="logout()"><a href="javascript:" class="dropdown-item"><i class="feather icon-lock"></i> Deconnexion</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
