<ngx-ui-loader></ngx-ui-loader>
<div id="authWrapper" class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-lock"></i>
        </div>
        <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value)" class="form form-login">
          <h5 class="mb-4">Réinitialisation du mot de passe</h5>
          <div class="input-group mb-3">
            <input name="Email" ngModel type="text" class="form-control" placeholder="Email">
          </div>
          <div class="input-group mb-3">
            <input [disabled]="resetForm.value.Email == ''"  name="Code" ngModel type="number" class="form-control" placeholder="Code de confirmation">
          </div>
          <div class="input-group mb-3">
            <input [disabled]="resetForm.value.Code == ''"  name="NewPassword" ngModel type="password" class="form-control" placeholder="Nouveau mot de passe">
          </div>
          <div class="input-group mb-4">
            <input (blur)="checkPassword()" [disabled]="resetForm.value.NewPassword == ''" name="ConfirmNewPassword" ngModel type="password" class="form-control" placeholder="Confirmer le nouveau mot de passe">
          </div>
          <button [disabled]="resetForm.value.NewPassword == resetForm.value.confirmNewPassword || resetForm.value.Email == '' || resetForm.value.Code == ''"  class="btn btn-danger mb-4">Modifier le mot de passe</button>
          <p [hidden]="wrongCode" class="mb-0 text-muted">Code invalide? <a [routerLink]="['/auth/reset-password']"> renvoyer un code par email</a></p>
          <p class="mb-0 text-muted">Pas encore membre? <a [routerLink]="['/auth/signup']">S'insrire </a></p>
        </form>
      </div>
    </div>
  </div>
</div>
