#authWrapper{
  position:relative;
}

#authWrapper::before {
  // background-size: contain;
  content: ' ';
  background-image :url('/../../../../assets/images/mimoye2.png');
  position:absolute;
  opacity:.8;
  z-index:-1;
  background-position: center;
  background-size: contain!important;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

