<ngx-ui-loader></ngx-ui-loader>
<div class="row"> 
  <div class="col-sm-12">
    <app-card cardTitle="Création d'une coopérative">
      <div [hidden]="asEdit"  style="display: flex; justify-content: space-between;">
        <div style="display: inline;" class=" col-sm-8 form-group">
          <label for="exampleFormControlSelect1">Choix de la cooperative</label>
          <select (change)="getCoopDetails(cooperativeId)"  class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
            <option value="0">--- Choix coopérative ---</option>
            <option *ngFor="let cooperative of cooperativeList" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
          </select>
        </div>
      <button [hidden]="asEdit" (click)="editBtn()" style="width: 20%!important;border-radius: 5px; margin-top: 1.7em; height: 3.5em;" class="btn btn-outline-warning mb-2">
        <i class="fa fa-plus">
          Modifier
        </i>
      </button>
      <button [hidden]="asEdit" [routerLink]="['/member/add']" style="width: 20%!important;border-radius: 5px; margin-top: 1.7em; height: 3.5em;" class="btn btn-primary mb-2">
        <i class="fa fa-plus">
          Ajouter un participant
        </i>
      </button>
    </div>
    <form [hidden]="!cooperativeId" #cooperativeForm="ngForm" class="editForm" (ngSubmit)="createCooperative(cooperativeForm.value)">
        <div class="row">
          <h5 style="margin-top: 2em">General</h5>
        <hr>
          <div class="col-md-12">
            <div class="form-group">
              <label>Code de la coopérative</label>
              <input  disabled [(ngModel)]="cooperativeDetails.Code" id="Code" name="Code" ngModel type="text" class="form-control" placeholder="Code">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Nom coopérative (Français)</label>
              <input maxlength="25" [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.Name[0].Text" id="Name[0].Text" name="Name[0].Text" type="text" class="form-control" placeholder="Nom coopérative français" >
            </div>            
          </div>
          <div [hidden]="!cooperativeDetails.Description[0].Text  && !asEdit || !asEdit"  class="col-md-5">
            <div class="form-group">
              <label> Description coopérative (Français)</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.Description[0].Text" id="Description[0].Text" name="Description[0].Text" ngModel type="text" class="form-control" placeholder="Description coopérative français">
            </div>            
          </div>
          <div [hidden]="enOn" class="col-md-2">
            <label> Ajouter une langue </label>
            <button (click)="langueBtn()" type="button" class="btn btn-outline-primary"><i class="feather icon-plus"></i>Ajouter</button>
          </div> 
          <div [hidden]="!enOn" class="col-md-5">
            <div class="form-group">
              <label>Nom coopérative (Anglais)</label>
              <input maxlength="25" [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.Name[1].Text" id="Name[1].Text" name="Name[1].Text" ngModel type="text" class="form-control" placeholder="Nom coopérative Anglais">
            </div>   
          </div>          
          <div [hidden]="!enOn" class="col-md-5">
              <label> Description coopérative (Anglais)</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.Description[1].Text" id="Description[1].Text" name="Description[1].Text" ngModel type="text" class="form-control" placeholder="Description coopérative anglais">
          </div>  
          <div [hidden]="!enOn" class="col-md-2">
            <label> Annuler la langue </label>
            <button (click)="langueBtn()"  type="button" class="btn btn-outline-danger"><i class="feather icon-trash"></i>Annuler</button>
          </div>
        </div>
        <h5 style="margin-top: 2em">Contact</h5>
        <hr>
        <div class="row">
          <div [hidden]="!cooperativeDetails.ContactPerson.LastName  && !asEdit || !asEdit"  class="col-md-3">
            <div class="form-group">
              <label> Nom</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.ContactPerson.LastName" id="ContactPerson.LastName" name="ContactPerson.LastName" ngModel type="text" class="form-control" placeholder="Nom">
            </div>            
          </div>
          <div [hidden]="!cooperativeDetails.ContactPerson.FirstName  && !asEdit || !asEdit"  class="col-md-5">
            <div class="form-group">
              <label> Prenoms</label>
              <input  [disabled]="!asEdit" ngModel [(ngModel)]="cooperativeDetails.ContactPerson.FirstName" id="ContactPerson.FirstName" name="ContactPerson.FirstName" type="text" class="form-control" placeholder="Prénoms">
            </div>            
          </div>
          <div [hidden]="!cooperativeDetails.ContactPerson.JobTitle[0].Text  && !asEdit || !asEdit" class="col-md-4">
            <div class="form-group">
              <label> Fonction</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.ContactPerson.JobTitle[0].Text" id="ContactPerson.JobTitle[0].Text" name="ContactPerson.JobTitle[0].Text"  type="text" class="form-control" placeholder="Fonction">
            </div>            
          </div>
          <div [hidden]="!cooperativeDetails.ContactPerson.PhoneNumbers[0].Extension  && !asEdit || !asEdit"  class="col-md-2">
            <div class="form-group">
              <label> Indicatif</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.ContactPerson.PhoneNumbers[0].Extension" id="ContactPerson.PhoneNumbers[0].Extension" name="ContactPerson.PhoneNumbers[0].Extension" type="number" class="form-control" placeholder="ex: 225">
            </div>            
          </div>
          <div [hidden]="!cooperativeDetails.ContactPerson.PhoneNumbers[0].LineNumber  && !asEdit || !asEdit"  class="col-md-4">
            <div class="form-group">
              <label> Contact</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.ContactPerson.PhoneNumbers[0].LineNumber" id="ContactPerson.PhoneNumbers[0].LineNumber" name="ContactPerson.PhoneNumbers[0].LineNumber"  type="text" class="form-control" placeholder="Contact">
            </div>            
          </div>
          <div [hidden]="!cooperativeDetails.ContactPerson.EmailAddress  && !asEdit || !asEdit" class="col-md-6">
            <div class="form-group">
              <label> Email</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.ContactPerson.EmailAddress" id="ContactPerson.EmailAddress" name="ContactPerson.EmailAddress" ngModel type="email" class="form-control" placeholder="Email">
            </div>            
          </div> 
        </div>
        <h5 style="margin-top: 2em;">Adresse</h5>
        <hr>
        <div [hidden]="!cooperativeDetails.Town  && !asEdit || !asEdit" class="row">
          <div [hidden]="!cooperativeDetails.Address.CivicAddress  && !asEdit || !asEdit" class="col-md-3">
            <div class="form-group">
              <label> Code postal</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.Address.CivicAddress" id="Address.CivicAddress" name="Address.CivicAddress" type="text" class="form-control" placeholder="Code postal">
            </div>              
          </div>
          <div [hidden]="!cooperativeDetails.Address.City  && !asEdit || !asEdit" class="col-md-9">
            <div class="form-group">
              <label> Adresse</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.Address.City" id="Address.City" name="Address.City" ngModel type="text" class="form-control" placeholder="Adresse">
            </div>            
          </div>
<!--           <div [hidden]="!cooperativeDetails.Town.Country.Name[0].Text" class="col-md-6">
            <div class="form-group">
              <label> Pays</label>
              <input  [disabled]="!asEdit" disabled [(ngModel)]="cooperativeDetails.Town.Country.Name[0].Text" id="Town.Country.Name[0].Text" name="Town.Country.Name[0].Text" ngModel type="text" class="form-control" placeholder="Pays">
            </div>            
          </div> 
          <div [hidden]="!cooperativeDetails.ContactPerson.EmailAddress" class="col-md-6">
            <div class="form-group">
              <label> Ville</label>
              <input  [disabled]="!asEdit" disabled [(ngModel)]="cooperativeDetails.Town.Name[0].Text" id="ContactPerson.EmailAddress" name="ContactPerson.EmailAddress" ngModel type="email" class="form-control" placeholder="Email">
            </div>            
          </div>  -->
          <div [hidden]="cooperativeDetails.PhoneNumbers[0].Extension  && !asEdit || !asEdit" class="col-md-3">
            <div class="form-group">
              <label> Indicatif</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.PhoneNumbers[0].Extension" id="ContactPerson.PhoneNumbers[0].Extension" name="ContactPerson.PhoneNumbers[0].Extension" type="number" class="form-control" placeholder="Ex: 225">
            </div>            
          </div>
          <div [hidden]="!cooperativeDetails.PhoneNumbers[0].LineNumber  && !asEdit || !asEdit" class="col-md-9">
            <div class="form-group">
              <label> Contact</label>
              <input  [disabled]="!asEdit" [(ngModel)]="cooperativeDetails.PhoneNumbers[0].LineNumber" id="PhoneNumbers[0].LineNumber" name="PhoneNumbers[0].LineNumber"  type="text" class="form-control" placeholder="Contact coopérative">
            </div>            
          </div>
        </div>
        <div class="form-group text-center">
          <button [hidden]="!asEdit" (click)="updateCoop(cooperativeDetails.Id, cooperativeDetails)" uiSref="work" class="btn btn-success btn-raised" > Modifier <span style="margin-left:10px;"><i class="feather icon-edit"></i></span></button>
        </div>
        <div class="form-group text-center">
          <button [hidden]="!asEdit" (click)="editBtn()"uiSref="work" class="btn btn-danger btn-raised" > Annuler <span style="margin-left:10px;"><i class="feather icon-edit"></i></span></button>
        </div>
      </form>
    </app-card>
  </div>
</div>
 