<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Détails du compte utilisateur">
      <form #userDetailsForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nom</label>
                <input [disabled]="!asEdit" id="LastName" name="LastName" ngModel type="text" class="form-control" placeholder="Nom" [(ngModel)]="UserDetails.LastName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Prénoms</label>
                <input [disabled]="!asEdit" id="FirstName" name="FirstName" ngModel type="text" class="form-control" placeholder="Prénoms" [(ngModel)]="UserDetails.FirstName">
              </div>            
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Prénoms</label>
                <input   id="Email" name="Email" ngModel type="text" class="form-control" placeholder="Email" [(ngModel)]="UserDetails.Email">
              </div>   
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Contact</label>
                <input [disabled]="!asEdit" id="PhoneNumber" name="PhoneNumber" type="text" class="form-control" placeholder="Contact" [(ngModel)]="UserDetails.PhoneNumber">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Nom d'utilisateur</label>
                <input [disabled]="!asEdit" id="Username" name="Username" type="text" class="form-control" placeholder="Nom d'utilisateur" [(ngModel)]="UserDetails.Username">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Langue</label>
                <select [disabled]="!asEdit" class="form-control" id="Language" name="Language" [(ngModel)]="UserDetails.Language">
                  <option value="0">--- Choix langue ---</option>
                  <option value="1">Français</option>
                  <option value="2">Anglais</option>
                </select>
              </div>           
            </div>
            <br>
            <br>
            <div class="col-md-12">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Profils</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let role of UserDetails.Roles">
                    <td>{{role.Name}}</td>
                    <td> 
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>         
            </div>

          </div>
          <div class="form-group text-center">
            <button [hidden]="asEdit" type="button" uiSref="work" class="btn btn-primary btn-raised"  (click)="editBtn()"> Modifier <span style="margin-left:10px;"><i class="feather icon-edit"></i></span></button>
            <button [hidden]="!asEdit" (click)="updateUserDetails(userDetailsForm.value)" type="submit" uiSref="work" class="btn btn-success btn-raised" > Enregister <span style="margin-left:10px;"><i class="feather icon-edit"></i></span></button>
            <button [hidden]="!asEdit" (click)="resetPassword()" uiSref="work" class="btn btn-warning btn-raised" > Modifier mon mot de passe <span style="margin-left:10px;"><i class="feather icon-edit"></i></span></button>

          </div>
      </form>
    </app-card>
  </div>
</div>
