<ngx-ui-loader></ngx-ui-loader>
<div id="authWrapper" class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img src="assets/images/user/avatar-3.jpg" class="img-radius mb-4" alt="User-Profile-Image">
        <h3 class="mb-4">Connexion</h3>
        <form #authForm="ngForm" (ngSubmit)="login(authForm.value)" class="form form-login">
          <div class="input-group mb-3">
            <input [(ngModel)]="Email" id="Email" name="Email" type="email" ngModel class="form-control" placeholder="Email / Nom d'utilisateur">
          </div>
          <div class="input-group mb-4">
            <input [(ngModel)]="Password" [disabled]="authForm.value.Email == ''" name="Password" type="password" ngModel class="form-control" placeholder="Mot de passe">
          </div>
          <div class="form-group text-left">
            <div class="checkbox checkbox-fill d-inline">
              <input [(ngModel)]="remember" type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1">
              <label for="checkbox-fill-a1" class="cr">Se souvenir de moi</label>
            </div>
          </div>
          <button [disabled]="authForm.value.Password == '' || authForm.value.Email == '' " type="submit" class="btn btn-danger mb-4">Se connecter</button>
          <p class="mb-2 text-muted">Mot de passe oublié ? <a [routerLink]="['/auth/reset-password']">Réinitialiser</a>
          </p>
          <p class="mb-0 text-muted">Pas encore membre? <a [routerLink]="['/auth/signup']">S'insrire </a></p>
        </form>
      </div>
    </div>
  </div>
</div>
 