<ng-template #tontineTypeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Création de type tontine</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="col-md-8">
          <form #form="ngForm" autocomplete="off">
          <div class="form-group">
            <label>Libellé</label>
            <input name="this.newTontineType.Name" ngModel [(ngModel)]="this.newTontineType.Name" type="text" class="form-control">
          </div>
        </form>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button disabled ="!this.newTontineType.Id"  type="submit" class="btn btn-outline-dark" (click)="createTontineType()">Ajouter</button>
    <button disabled *ngIf="this.newTontineType.Id" type="submit" class="btn btn-outline-dark" (click)="updateTontineType(this.newTontineType.Id)">Modifier</button>
  </div>
</ng-template>

<!-- <ngx-ui-loader></ngx-ui-loader>  -->
<h5 class="mt-4">Paramètres back office</h5>
<hr>
<div class="col-sm-12">
        <div class="table-responsive">
          <div style="display: flex; justify-content: space-between;">
            <h5 style="display: inline;" class="mt-4">Gestion des types de tontine</h5>
            <button (click)="error();" style="width: 20%!important;border-radius: 5px;margin-top: 1em;" class="btn btn-primary mb-1">
              <i class="fa fa-plus">
                Ajouter un type
              </i>
            </button>
          </div>
          <hr>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Libellé</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tontineType of tontineTypeList">
                <td>{{tontineType.DisplayName}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> 
                  <button (click)="error()" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                  <button (click)="error()" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
</div>
