<ng-template #cooperativeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modification coopérative</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="col-md-12"> 
          <form #form="ngForm" autocomplete="off">  
             <div class="row">
              <h5 style="margin-top: 2em">General</h5>
            <hr>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Code de la coopérative</label>
                  <input disabled [(ngModel)]="cooperativeDetails.Code" name="cooperativeDetails.Code"  type="text" class="form-control" placeholder="Code">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>Nom coopérative (Français)</label>
                  <input [(ngModel)]="cooperativeDetails.Name[0].Text" name="cooperativeDetails.Name[0].Text" type="text" class="form-control" placeholder="Nom coopérative français" >
                </div>            
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label> Description coopérative (Français)</label>
                  <input [(ngModel)]="cooperativeDetails.Description[0].Text" name="cooperativeDetails.Description[0].Text" type="text" class="form-control" placeholder="Description coopérative français">
                </div>            
              </div>
              <div [hidden]="!enOn" class="col-md-2">
                <label> Ajouter une langue </label>
                <button (click)="langueBtn()" type="button" class="btn btn-outline-primary"><i class="feather icon-plus"></i>Ajouter</button>
              </div>
              <div [hidden]="!enOn" class="col-md-5">
                <div class="form-group">
                  <label>Nom coopérative (Anglais)</label>
                  <input [(ngModel)]="cooperativeDetails.Name[1].Text" name="cooperativeDetails.Name[1].Text" type="text" class="form-control" placeholder="Nom coopérative Anglais">
                </div>   
              </div>          
              <div [hidden]="!enOn" class="col-md-5">
                  <label> Description coopérative (Anglais)</label>
                  <input [(ngModel)]="cooperativeDetails.Description[1].Text" name="cooperativeDetails.Description[1].Text" type="text" class="form-control" placeholder="Description coopérative anglais">
              </div>  
              <div [hidden]="!enOn" class="col-md-2">
                <label> Annuler la langue </label>
                <button (click)="langueBtn()"  type="button" class="btn btn-outline-danger"><i class="feather icon-trash"></i>Annuler</button>
              </div>
            </div> 
            <h5 style="margin-top: 2em">Contact</h5>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> Nom</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.LastName" name="cooperativeDetails.ContactPerson.LastName" type="text" class="form-control" placeholder="Nom">
                </div>            
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label> Prenoms</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.FirstName" name="cooperativeDetails.ContactPerson.FirstName" type="text" class="form-control" placeholder="Prénoms">
                </div>            
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Fonction</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.JobTitle[0].Text" name="cooperativeDetails.ContactPerson.JobTitle[1].Text"  type="text" class="form-control" placeholder="Fonction">
                </div>            
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label> Indicatif</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.PhoneNumbers[0].Extension" name="cooperativeDetails.ContactPerson.PhoneNumbers[0].Extension" type="text" class="form-control" placeholder="ex: +225">
                </div>            
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Contact</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.PhoneNumbers[0].LineNumber" name="cooperativeDetails.ContactPerson.PhoneNumbers[0].LineNumber"  type="text" class="form-control" placeholder="Contact">
                </div>            
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label> Email</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.EmailAddress" name="cooperativeDetails.ContactPerson.EmailAddress" type="email" class="form-control" placeholder="Email">
                </div>            
              </div>
            </div>
            <h5 style="margin-top: 2em;">Adresse</h5>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label> Code postal</label>
                  <input [(ngModel)]="cooperativeDetails.Address.CivicAddress" name="cooperativeDetails.Address.CivicAddress" type="text" class="form-control" placeholder="Code postal">
                </div>              
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label> Adresse</label>
                  <input [(ngModel)]="cooperativeDetails.Address.City" name="cooperativeDetails.Address.City" type="text" class="form-control" placeholder="Adresse">
                </div>            
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Choix pays</label>
                  <select (change)="getTown($event)" class="form-control" id="CountryId" name="CountryId">
                    <option value="0">--- Choix pays ---</option>
                    <option *ngFor="let country of countries" value="{{country.Id}}">{{country.Code}} - {{country.Name[0].Text}}</option>
                  </select>
                </div>           
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Choix ville</label>
                  <select class="form-control" [(ngModel)]="cooperativeDetails.TownId" name="cooperativeDetails.TownId">
                    <option value="0">--- Choix de la ville ---</option>
                    <option *ngFor="let town of towns" value="{{town.Id}}">{{town.Code}} - {{town.Name[0].Text}}</option>
                  </select> 
                </div>           
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label> Indicatif</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.PhoneNumbers[0].Extension" name="cooperativeDetails.ContactPerson.PhoneNumbers[0].Extension" type="text" class="form-control" placeholder="Ex: +225">
                </div>            
              </div>
              <div class="col-md-9">
                <div class="form-group">
                  <label> Contact</label>
                  <input [(ngModel)]="cooperativeDetails.ContactPerson.PhoneNumbers[0].LineNumber" name="cooperativeDetails.ContactPerson.PhoneNumbers[0].LineNumber"  type="text" class="form-control" placeholder="Contact coopérative">
                </div>            
              </div>
            </div>
          </form>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="updateCoop(cooperativeDetails.Id, cooperativeDetails)">Modifier</button>
  </div>
</ng-template>

<!-- <ngx-ui-loader></ngx-ui-loader>  -->

<hr>
<div class="col-sm-12">
        <div class="table-responsive">
          <div style="display: flex; justify-content: space-between;">
            <h5 style="display: inline;" class="mt-4">Gestion des coopératives</h5>
            <button (click)="error();" style="width: 20%!important;border-radius: 5px;margin-top: 1em;" class="btn btn-primary mb-1">
              <i class="fa fa-plus">
                Ajouter une coopérative
              </i>
            </button>
          </div>
          <hr>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Code</th>
                <th>Libellé(Fr)</th>
                <th>Description(Fr)</th>
                <th>Libellé(En)</th>
                <th>Description(En)</th>
                <th>Date d'activation</th>
                <th>Pays</th>
                <th>Ville</th>
                <!-- 
                <th>Pays</th>
                <th>Ville</th>-->
                <th>Statut</th>
                <th>Afficher</th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cooperative of cooperativeList">
                <td>{{cooperative.Code}}</td>
                <td >{{cooperative.Name[0].Text}}</td>
                <td>{{cooperative.Description[0].Text}}</td>
                <td>{{cooperative.Name[1].Text}}</td>
                <td>{{cooperative.Description[1].Text}}</td>
                <td>{{cooperative.EffectiveDate}}</td>
                <td>{{cooperative.Town.Country.Name[0].Text}}</td>
                <td>{{cooperative.Town.Name[0].Text}}</td>
                <td *ngIf="cooperative.IsActive"><button (click)="confirmChangeCooperativeStatus(cooperative.Id, cooperative.IsActive)" type="button" class="btn btn-success"><i class="feather icon-check-circle"></i>Success</button></td>
                <td *ngIf="!cooperative.IsActive"><button (click)="confirmChangeCooperativeStatus(cooperative.Id, cooperative.IsActive)" type="button" class="btn btn-outline-danger"><i class="feather icon-slash"></i>Inactif</button></td>
                <td>
                  <button (click)="viewBtn(cooperative.Id)" type="button" class="btn btn-icon btn-outline-info"><i class="feather icon-eye"></i></button>
                </td>
                <td> 
                  <button (click)="viewBtn(cooperative.Id)" type="button" class="btn btn-icon btn-outline-warning"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                  <button (click)="confirmDeleteCooperative(cooperative.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
</div>
