<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Création d'une tontine">
      <form #tontineForm="ngForm" class="editForm" (ngSubmit)="createTontine(tontineForm.value)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Choix de la cooperative</label>
                <select class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
                  <option value="0">--- Choix coopérative ---</option>
                  <option *ngFor="let cooperative of cooperatives" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
                </select>
              </div> 
            </div> 
            <div class="col-md-6">      
              <div class="form-group">
                <label for="exampleFormControlSelect1">Type de tontine</label>
                <select class="form-control" id="Type" name="Type" ngModel>
                  <option value="0">--- Choix type tontine ---</option>
                  <option *ngFor="let type of tontineTypeList" value="{{type.Value}}">{{type.DisplayName}}</option>
                </select>
              </div>      
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Code tontine</label>
                <input minlength="6" maxlength="6" id="Code" name="Code" ngModel type="text" class="form-control" placeholder="Code de la tontine">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Nom tontine (Français)</label>
                <input maxlength="25" id="NameText1" name="NameText1" ngModel type="text" class="form-control" placeholder="Libellé français" >
              </div>            
            </div>
            <div [hidden]="enOn" class="col-md-2">
              <label> Ajouter une langue </label>
              <button (click)="langueBtn()" type="button" class="btn btn-outline-primary"><i class="feather icon-plus"></i>Ajouter</button>
            </div>
            <div [hidden]="!enOn" class="col-md-5">
              <div class="form-group">
                <label>Nom tontine (Anglais)</label>
                <input id="NameText2" name="NameText2" ngModel type="text" class="form-control" placeholder="Libellé Anglais">
              </div>   
            </div>          
            <div [hidden]="!enOn" class="col-md-2">
              <label> Annuler la langue </label>
              <button (click)="langueBtn()"  type="button" class="btn btn-outline-danger"><i class="feather icon-minus"></i></button>
            </div> 

          </div>
          <div class="row">

          </div>
          <div  class="row text-center mt-2">
            <div style="margin-top:2em" class="col-sm-12">
              <button type="submit" uiSref="work" class="btn btn-primary btn-raised "> Sauvegarde<span style="margin-left:10px;"><i class="feather icon-save"></i></span></button>
            </div>
          </div>
      </form>
    </app-card>
  </div>
</div>
