<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="information tontine">
      <form #tontineForm="ngForm" class="editForm" (ngSubmit)="createTontine(tontineForm.value)">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Choix de la cooperative</label>
                <select class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
                  <option value="0">--- Choix coopérative ---</option>
                  <option *ngFor="let cooperative of cooperatives" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
                </select>
              </div> 
            </div> 
            <div class="col-md-4">      
              <div class="form-group">
                <label for="exampleFormControlSelect1">Type de tontine</label>
                <select class="form-control" id="Type" name="Type" ngModel>
                  <option value="0">--- Choix type tontine ---</option>
                  <option *ngFor="let type of tontineTypeList" value="{{type.Value}}">{{type.DisplayName}}</option>
                </select>
              </div>      
            </div>
            <div class="col-md-4">      
              <div class="form-group">
                <label for="exampleFormControlSelect1">Statut </label>
                <select class="form-control" id="Statut" name="Statut" >
                  <option value="0">--- Choix type tontine ---</option>
                  <option value="0">En création</option>
                  <option value="true">Actif</option>
                  <option value="false">Inactif</option>
                </select>
              </div>      
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Code tontine</label>
                <input minlength="6" maxlength="6" id="Code" name="Code" ngModel type="text" class="form-control" placeholder="Code de la tontine">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Nom tontine (Français)</label>
                <input maxlength="25" id="NameText1" name="NameText1" ngModel type="text" class="form-control" placeholder="Libellé français" >
              </div>            
            </div>
            <div hidden class="col-md-5">
              <div class="form-group">
                <label> Description Tontine (Français)</label>
                <input id="DescriptionText1" name="DescriptionText1" ngModel type="text" class="form-control" placeholder="Description français">
              </div>            
            </div>
            <div [hidden]="enOn" class="col-md-2">
              <label> Ajouter une langue </label>
              <button (click)="langueBtn()" type="button" class="btn btn-outline-primary"><i class="feather icon-plus"></i>Ajouter</button>
            </div>
            <div [hidden]="!enOn" class="col-md-5">
              <div class="form-group">
                <label>Nom tontine (Anglais)</label>
                <input id="NameText2" name="NameText2" ngModel type="text" class="form-control" placeholder="Libellé Anglais">
              </div>   
            </div>          
            <div hidden class="col-md-5">
                <label> Description coopérative (Anglais)</label>
                <input id="DescriptionText2" name="DescriptionText2" ngModel type="text" class="form-control" placeholder="Description anglais">
            </div>  
            <div [hidden]="!enOn" class="col-md-1">
              <label> Langue</label>
              <button (click)="langueBtn()"  type="button" class="btn btn-outline-danger"><i class="feather icon-minus"></i></button>
            </div> 
            <div [hidden]="!enOn" class="col-md-1">
              <label> Delete </label>
              <button (click)="langueBtn()"  type="button" class="btn btn-outline-danger"><i class="feather icon-plus"></i></button>
            </div> 
          </div>
          <h5 class="mt-5"></h5>
          <hr>
          <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Droit d'adhésion</label>
              <input id="MembershipTicketFee" name="MembershipTicketFee" ngModel type="text" class="form-control" placeholder="Montant du droit d'adhésion de la tontine">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Montant contribution</label>
              <input id="ContributionAmount" name="ContributionAmount" ngModel type="text" class="form-control" placeholder="Contribution par membre">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Date de début du tour</label>
              <input id="DateDebut" name="DateDebut" ngModel type="date" class="form-control" placeholder="Date de début du tour">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Date de fin tour</label>
              <input id="DateFin" name="DateFin" ngModel type="date" class="form-control" placeholder="Date de fin du tour">
            </div>
          </div>
          <br>
          <hr>
          <div class="col-md-2">
            <button (click)="prevButton()" uiSref="work" class="btn btn-primary btn-raised float-left"> <span style="margin-left:10px;"><i class="feather icon-skip-back"></i></span>Précedent</button>
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <button type="submit" uiSref="work" class="btn btn-success btn-raised float-right"> Sauvegarde<span style="margin-left:10px;"><i class="feather icon-save"></i></span></button>
          </div>

          <br>
          <hr>
          <h5 style="margin-top: 2em">Tours</h5>
          <br>
          <div class="col-md-4">
            <button (click)="generateShares()" type="submit" uiSref="work" class="btn btn-success btn-raised float-right"> Générer<span style="margin-left:10px;"><i class="feather icon-save"></i></span></button>
          </div>
          <div class="col-md-4">
            <button (click)="getShares()" type="submit" uiSref="work" class="btn btn-success btn-raised float-right"> Afficher<span style="margin-left:10px;"><i class="feather icon-save"></i></span></button>
          </div>
          <div class="col-md-4">
            <button (click)="clearShares()" type="submit" uiSref="work" class="btn btn-success btn-raised float-right"> Réinitialiser<span style="margin-left:10px;"><i class="feather icon-save"></i></span></button>
          </div>
        </div>
      </form>
    </app-card>
    <ng-template #sharesModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Génération tours tontine</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="col-md-12"> 
              <form #form="ngForm" autocomplete="off">  
                <div style="display: inline;" class=" col-sm-5 form-group">
                  <label for="exampleFormControlSelect1">Jour de rencontre</label>
                  <select class="form-control" id="dayOfWeek" name="dayOfWeek"  [(ngModel)]="dayOfWeek" >
                    <option value=" ">--- Choix du jour---</option>
                    <option value="1">Lundi</option>
                    <option value="2">Mardi</option>
                    <option value="3">Mercredi</option>
                    <option value="4">Jeudi</option>
                    <option value="5">Vendredi</option>
                    <option value="6">Samedi</option>
                    <option value="0">Dimanche</option>
                  </select>
                </div>
              </form>
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="generateShares()">Générer</button>
      </div>
    </ng-template>
  </div>
</div>
