<ngx-ui-loader></ngx-ui-loader>
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Gestion des tontines " [options]="false">
      <div style="display: flex; justify-content: space-between;">
          <div style="display: inline;" class=" col-sm-10 form-group">
            <label for="exampleFormControlSelect1">Choix de la cooperative</label>
            <select (change)="getTontineList(cooperativeId)"  class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
              <option value="0">--- Choix coopérative ---</option>
              <option *ngFor="let cooperative of cooperativeList" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
            </select>
          </div>
        <button [routerLink]="['/member/add']" style="width: 20%!important;border-radius: 5px; margin-top: 1.7em; height: 3.5em;" class="btn btn-primary mb-2">
          <i class="fa fa-plus">
            Ajouter un participant
          </i>
        </button>
      </div>
      <div [hidden]="!CoopSelected" class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Code</th>
              <th>Libellé(Fr)</th>
              <th>Description(Fr)</th>
              <th>Libellé(En)</th>
              <th>Description(En)</th>
              <th>Date d'activation</th>
              <th>Ville</th>
              <th>Statut</th>
              <th>Afficher</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tontine of tontineList">
              <td>{{tontine.Code}}</td>
              <td>{{tontine.Name[0].Text}}</td>
              <td>{{tontine.Description[0].Text}}</td>
              <td>{{tontine.Name[1].Text}}</td>
              <td>{{tontine.Description[1].Text}}</td>
              <td>{{tontine.EffectiveDate}}</td>
              <td>{{tontine.TownId}}</td>
              <td *ngIf="tontine.IsActive"><button (click)="confirmChangeTontineStatus(tontine.Id, tontine.IsActive)" type="button" class="btn btn-success"><i class="feather icon-check-circle"></i>Actif</button></td>
              <td *ngIf="!tontine.IsActive"><button (click)="confirmChangeTontineStatus(tontine.Id, tontine.IsActive)" type="button" class="btn btn-outline-danger"><i class="feather icon-slash"></i>Inactif</button></td>
              <td> 
                <button (click)="open(tontineModal)" (click)="getTontineDetails(tontine.Id)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-eye"></i></button>
              </td>
              <td> 
                <button (click)="open(tontineModal)" (click)="getTontineDetails(tontine.Id)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-edit"></i></button>
              </td>
              <td>
                <button (click)="confirmDeleteTontine(tontine.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div [hidden]="!CoopSelected" class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border table-hover">
          <thead>     
            <tr>
              <th>Code</th>
              <th>Libellé(Fr)</th>
              <th>Description(Fr)</th>
              <th>Libellé(En)</th>
              <th>Description(En)</th>
              <th>Date d'activation</th>
              <th>Frais d'adhésion</th>
              <th>Montant contribution</th>
              <th>Type de tontine</th>
              
              <th>Pays</th>
              <th>Ville</th>
              <th>Statut</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>          </thead>
          <tbody>
            <tr *ngFor="let tontine of tontineList">
              <td>{{tontine.Code}}</td>
              <td>{{tontine.Name[0].Text}}</td>
              <td>{{tontine.Description[0].Text}}</td>
              <td>{{tontine.Name[1].Text}}</td>
              <td>{{tontine.Description[1].Text}}</td>
              <td>{{tontine.EffectiveDate}}</td>
              <td>{{tontine.MembershipTicketFee}}</td>
              <td>{{tontine.ContributionsAmount}}</td>
              <td>{{tontine.Type.DisplayName}}</td>
              <td>{{cooperative.TownId}}</td>
              <td *ngIf="tontine.IsActive"><button (click)="confirmChangeTontineStatus(tontine.Id, tontine.IsActive)" type="button" class="btn btn-success"><i class="feather icon-check-circle"></i>Success</button></td>
              <td *ngIf="!tontine.IsActive"><button (click)="confirmChangeTontineStatus(tontine.Id, tontine.IsActive)" type="button" class="btn btn-outline-danger"><i class="feather icon-slash"></i>Inactif</button></td>
              <td> 
                <button (click)="open(tontineModal)" (click)="getTontineDetails(tontine.Id)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-edit"></i></button>
              </td>
              <td>
                <button (click)="confirmDeleteTontine(tontine.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
              </td>
            </tr>          </tbody>
          <tfoot>
          <tr>
            <th>Code</th>
            <th>Libellé(Fr)</th>
            <th>Description(Fr)</th>
            <th>Libellé(En)</th>
            <th>Description(En)</th>
            <th>Date d'activation</th>
            <th>Frais d'adhésion</th>
            <th>Montant contribution</th>
            <th>Type de tontine</th>
          </tr>
          </tfoot>
        </table>
      </div> -->
    </app-card>
  </div>
</div>
 
<ng-template #tontineModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modification tontine</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="col-md-12">
          <form #form="ngForm" autocomplete="off">    
            <div class="row">  
            <div class=" col-md-12 form-group">
              <label>Code de la tontine</label>
              <input disabled name="tontineDetails.Code" [(ngModel)]="tontineDetails.Code" type="text" class="form-control" placeholder="Code">
            </div>
            <div class="col-md-6 form-group">
              <label>Nom Français)</label>
              <input name="tontineDetails.Name[0].Text" [(ngModel)]="tontineDetails.Name[0].Text" type="text" class="form-control" placeholder="Libellé français" >
            </div>            
            <div class="col-md-6 form-group">
              <label> Description tontine (Français)</label>
              <input name="tontineDetails.Description[0].Text" [(ngModel)]="tontineDetails.Description[0].Text" type="text" class="form-control" placeholder="Description français">
            </div>  
            <div class="col-md-6 form-group">
              <label>Nom tontine (Anglais)</label>
              <input name="tontineDetails.Name[1].Text" [(ngModel)]="tontineDetails.Name[1].Text" class="form-control" placeholder="Libellé Anglais">
            </div> 
            <div class="col-md-6 form-group">    
              <label> Description tontine (Anglais)</label>
              <input name="tontineDetails.Description[1].Text" [(ngModel)]="tontineDetails.Description[1].Text" type="text" class="form-control" placeholder="Description anglais">
            </div>   
            <div class="col-md-12">      
              <div class="form-group">
                <label for="exampleFormControlSelect1">Type de tontine</label>
                <select class="form-control" name="tontineDetails.Type.Value"  [(ngModel)]="tontineDetails.Type.Value">
                  <option value="0">--- Choix type tontine ---</option>
                  <option *ngFor="let type of tontineTypeList" value="{{type.Value}}">{{type.DisplayName}}</option>
                </select>
              </div>      
            </div> 
            <div class="col-md-6">
              <div class="form-group">
                <label>Droit d'adhésion</label>
                <input name="tontineDetails.MembershipTicketFee" [(ngModel)]="tontineDetails.MembershipTicketFee" type="number" class="form-control" placeholder="Montant du droit d'adhésion de la tontine">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Montant contribution</label>
                <input [(ngModel)]="tontineDetails.ContributionsAmount" name="tontineDetails.ContributionAmount" type="number" class="form-control" placeholder="Contribution par membre">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Date de début du tour</label>
                <input [(ngModel)]="tontineDetails.BeginDate" name="tontineDetails.DateDebut" type="date" class="form-control" placeholder="Date de début du tour">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Date de fin tour</label>
                <input [(ngModel)]="tontineDetails.EndDate" name="tontineDetails.EndDebut" type="date" class="form-control" placeholder="Date de fin du tour">
              </div>
            </div>
            <div class="col-md-12">      
              <div class="form-group">
                <label for="exampleFormControlSelect1">Fréquence</label>
                <select class="form-control" name="tontineDetails.Frequency.Value"  [(ngModel)]="tontineDetails.Frequency.Value">
                  <option value="">--- Choix Fréquence ---</option>
                  <option value="1">Semestrielle</option>
                  <option value="2">Bi semestrielle</option>
                  <option value="3">Mensuelle</option>
                </select>
              </div>      
            </div> 
          </div>  
          </form>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="updateTontine(tontineDetails.Id, tontineDetails)">Modifier</button>
  </div>
</ng-template>
