<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Création utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="col-md-8">
          <form #form="ngForm" autocomplete="off">
          <div class="form-group">
            <label >Nom d'utilisateur</label>
            <input [disabled]="!asEdit" name="UserDetails.Username" ngModel [(ngModel)]="UserDetails.Username" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label >Nom</label>
            <input [disabled]="!asEdit" name="UserDetails.LastName" ngModel [(ngModel)]="UserDetails.LastName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label >Prenoms</label>
            <input [disabled]="!asEdit" name="UserDetails.FirstName" ngModel [(ngModel)]="UserDetails.FirstName" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label >Email</label>
            <input [disabled]="!asEdit" name="UserDetails.Email" ngModel [(ngModel)]="UserDetails.Email" type="text" class="form-control">
          </div>
          <div class="form-group">
            <select [disabled]="!asEdit" class="form-control" id="Language" name="Language" [(ngModel)]="UserDetails.Language">
              <option value="0">--- Choix langue ---</option>
              <option value="1">Français</option>
              <option value="2">Anglais</option>
            </select>          </div>
            <div class="col-md-12">
          <div class="form-group">
          <div style="display: flex; justify-content: space-between;">
            <h5 style="display: inline;" class="mt-4">Profils utilisateur</h5>
            <button [hidden]="editUser" (click)="editUserRole();" type="button" class="btn btn-icon btn-primary" style="margin-top: 0.6em;"><i class="fa fa-plus"></i></button>
          </div> 
        </div> 
          <br>
          <div [hidden]="!editUser" style="display: flex; justify-content: space-between;">
            <select  class="form-control" name="newRoleId" [(ngModel)]="newRoleId">
              <option value="0">--- Choix nouveau profil ---</option>
              <option *ngFor="let profile of usersProfilesList" value="{{profile.Id}}">{{profile.Name}}</option>
            </select>             
            <button (click)="addRole2User(UserDetails.Id);" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-plus"></i></button>

          </div>         
          <table [hidden]="editUser" class="table table-hover">
              <thead>
                <tr>
                  <th>Libellé</th>
                  <th></th>
                  <th></th>
                  <th>Supprimer</th>  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of UserDetails.Roles">
                  <td>{{role.Name}}</td>
                  <td> 
                  </td>
                  <td>
                  </td>
                  <th>
                    <button (click)="deleteRoleUser(role.Id, UserDetails.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
                  </th>
                </tr>
              </tbody>
            </table>         
          </div>
        </form>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!this.UserDetails.Id" type="submit" class="btn btn-outline-dark" (click)="createUser()" (click)="modal.close('Save click')">Ajouter</button>
    <button disabled *ngIf="this.UserDetails.Id"  type="submit" class="btn btn-outline-dark" (click)="updateUser(this.UserDetails.Id,UserDetails)" (click)="modal.close('Save click')">Modifier</button>
  </div>
</ng-template>
<ng-template #profileModal let-modal>
  <div class="modal-header">
    <h4 *ngIf="!this.newProfile.Id" class="modal-title" id="modal-basic-title">Création profile utilisateur</h4>
    <h4 *ngIf="this.newProfile.Id" class="modal-title" id="modal-basic-title">Modification profile utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="col-md-8">
          <form #form="ngForm" autocomplete="off">
          <div class="form-group">
            <label>Libellé</label>
            <input name="this.newProfile.Name" ngModel [(ngModel)]="this.newProfile.Name" type="text" class="form-control">
          </div>
        </form>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="!this.newProfile.Id"  type="submit" class="btn btn-outline-dark" (click)="createRole()">Ajouter</button>
    <button *ngIf="this.newProfile.Id" type="submit" class="btn btn-outline-dark" (click)="updaterole()">Modifier</button>
  </div>
</ng-template>

<!-- <ngx-ui-loader></ngx-ui-loader>  -->
<h5 class="mt-4">Paramètres back office</h5>
<hr>
<div class="col-sm-12">
  <ngb-tabset type="pills">
    <ngb-tab title="Gestion d'utilisateurs">
      <ng-template ngbTabContent>
        <button style="width: 20%!important;border-radius: 5px; float: right;" class="btn btn-primary mb-1">
          <i class="fa fa-plus">
            Ajouter un utilisateur
          </i>
        </button>
        <br>
        <br>
        <hr>
       <!--  <div class="form-group">
          <label for="exampleFormControlSelect1">Centre d'enrôlement</label>
          <select [(ngModel)]="centerId" name="centerId" (change)="refreshUsersList()" class="form-control">
            <option value="0">---Veuillez choisir un centre d'enrôlement---</option>
            <option *ngFor="let data of centerList.data.sites" value="{{data.id_site}}">{{data.adresse}}</option>
          </select>
        </div> -->
        <div class="table-responsive">
          <div style="display: flex; justify-content: space-between;">
            <h5 style="display: inline;" class="mt-4">Liste des utilisateurs</h5>
          </div>
          <hr>
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#Nom d'utilisateur</th>
                <th>Nom</th>
                <th>Prénoms</th> 
                <th>Email</th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersList">
                <td>{{user.Username}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.FirstName}}</td>
                <td>{{user.Email}}</td>
                <th>
                  <button (click)="open(content)" (click)="getUserDetails(user.Id)"  type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-edit"></i></button>
                </th>
                <th>
                  <button (click)="confirmDelete('Compte utilisateur', user.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Profils utilisateurs">
      <ng-template ngbTabContent>
        <div class="table-responsive">
          <div style="display: flex; justify-content: space-between;">
            <h5 style="display: inline;" class="mt-4">Gestion des profils utilisateurs</h5>
            <button (click)="open(profileModal);" style="width: 20%!important;border-radius: 5px;" class="btn btn-primary mb-1">
              <i class="fa fa-plus">
                Ajouter un profil
              </i>
            </button>
          </div>
          <hr>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Libellé</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let profile of usersProfilesList">
                <td>{{profile.Name}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> 
                  <button (click)="open(profileModal)" (click)="editRoleBtn(profile)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                  <button (click)="confirmDelete('Profil utilisateur', profile.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Permissions utilisateurs">
<!--       <ng-template ngbTabContent>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Centre d'enrôlement</label>
          <select [(ngModel)]="centerId" name="centerId" (change)="refreshUsersList()" class="form-control">
            <option value="0">---Veuillez choisir un centre d'enrôlement---</option>
          </select>
        </div>
        <app-card *ngIf="centerId != 0" cardTitle="Liste des plages horaire" [options]="false" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#Id</th>
                  <th>Libellé</th>
                  <th>Modifier</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>time.id</td>
                  <td>time.libelle</td>
                  <th>
                    <button disabled class="btn btn-primary mb-1">
                      <i class="fa fa-edit"></i>
                    </button>
                  </th>
                  <th>
                      <button disabled class="btn btn-danger mb-1">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </app-card>
      </ng-template>
 -->    </ngb-tab>
  </ngb-tabset>
</div>
