<ngx-ui-loader></ngx-ui-loader>
<div id="authWrapper" class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-mail"></i>
        </div>
        <form #authForm="ngForm" (ngSubmit)="resetPassword(authForm.value)" class="form form-login">
          <h3 class="mb-4">Mot de passe oublié</h3>
          <div class="input-group mb-3">
            <input name="Email" ngModel type="email" class="form-control" placeholder="Email">
          </div>
          <button [disabled]="authForm.value.Email == ''" class="btn btn-danger mb-4">Réinitialiser</button>
          <p class="mb-0 text-muted">Pas encore membre? <a [routerLink]="['/auth/signup']">S'insrire </a></p>
        </form>
      </div>
    </div>
  </div>
</div>
