<ngx-ui-loader></ngx-ui-loader>
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Gestion des participants de la tontines " [options]="false">
      <div style="display: flex; justify-content: space-between;">
          <div style="display: inline;" class=" col-sm-5 form-group">
            <label for="exampleFormControlSelect1">Choix de la cooperative</label>
            <select (change)="getTontineList(cooperativeId)"  class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
              <option value="0">--- Choix coopérative ---</option>
              <option *ngFor="let cooperative of cooperativeList" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
            </select>
          </div>
          <div style="display: inline;" class=" col-sm-5 form-group">
            <label for="exampleFormControlSelect1">Choix de la tontine</label>
            <select (change)="getParticipantList(tontineId)"  class="form-control" id="tontineId" name="tontineId"  [(ngModel)]="tontineId" >
              <option value="0">--- Choix tontine ---</option>
              <option *ngFor="let tontine of tontineList" value="{{tontine.Id}}">{{tontine.Code}} - {{tontine.Name[0].Text}}</option>
            </select>
          </div>
        <button (click)="open(participantModal)" style="width: 20%!important;border-radius: 5px; margin-top: 1.7em; height: 3.5em;" class="btn btn-primary mb-2">
          <i class="fa fa-plus">
            Ajouter un participant
          </i>
        </button>
      </div>
      <div [hidden]="!CoopSelected" class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Code</th>
              <th>Nom</th>
              <th>Prénoms</th>
              <th>Contact</th>
              <th>Date de naissance</th>
              <th>Date d'activation</th>
              <th>Statut</th>
              <th>Afficher</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let participant of participantList">
              <td>{{participant.MemberCode}}</td>
              <td>{{participant.LastName}}</td>
              <td>{{participant.FirstName}}</td>
              <td>{{participant.PhoneNumber}}</td>
              <td>{{participant.BirthDate}}</td>
              <td>{{participant.EffectiveDate}}</td>
              <td *ngIf="participant.IsActive"><button (click)="confirmChangeTontineStatus(participant.Id, participant.IsActive)" type="button" class="btn btn-success"><i class="feather icon-check-circle"></i>Actif</button></td>
              <td *ngIf="!participant.IsActive"><button (click)="confirmChangeTontineStatus(participant.Id, participant.IsActive)" type="button" class="btn btn-outline-danger"><i class="feather icon-slash"></i>Inactif</button></td>
              <td> 
                <button (click)="open(participantModal)" (click)="getTontineDetails(participant.Id)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-eye"></i></button>
              </td>
              <td> 
                <button (click)="open(participantModal)" (click)="getTontineDetails(participant.Id)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-edit"></i></button>
              </td>
              <td>
                <button (click)="confirmDeleteTontine(participant.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div [hidden]="!CoopSelected" class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped row-border table-hover">
          <thead>     
            <tr>
              <th>Code</th>
              <th>Libellé(Fr)</th>
              <th>Description(Fr)</th>
              <th>Libellé(En)</th>
              <th>Description(En)</th>
              <th>Date d'activation</th>
              <th>Frais d'adhésion</th>
              <th>Montant contribution</th>
              <th>Type de tontine</th>
              
              <th>Pays</th>
              <th>Ville</th>
              <th>Statut</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>          </thead>
          <tbody>
            <tr *ngFor="let tontine of tontineList">
              <td>{{tontine.Code}}</td>
              <td>{{tontine.Name[0].Text}}</td>
              <td>{{tontine.Description[0].Text}}</td>
              <td>{{tontine.Name[1].Text}}</td>
              <td>{{tontine.Description[1].Text}}</td>
              <td>{{tontine.EffectiveDate}}</td>
              <td>{{tontine.MembershipTicketFee}}</td>
              <td>{{tontine.ContributionsAmount}}</td>
              <td>{{tontine.Type.DisplayName}}</td>
              <td>{{cooperative.TownId}}</td>
              <td *ngIf="tontine.IsActive"><button (click)="confirmChangeTontineStatus(tontine.Id, tontine.IsActive)" type="button" class="btn btn-success"><i class="feather icon-check-circle"></i>Success</button></td>
              <td *ngIf="!tontine.IsActive"><button (click)="confirmChangeTontineStatus(tontine.Id, tontine.IsActive)" type="button" class="btn btn-outline-danger"><i class="feather icon-slash"></i>Inactif</button></td>
              <td> 
                <button (click)="open(tontineModal)" (click)="getTontineDetails(tontine.Id)" type="button" class="btn btn-icon btn-outline-primary"><i class="fa fa-edit"></i></button>
              </td>
              <td>
                <button (click)="confirmDeleteTontine(tontine.Id)" type="button" class="btn btn-icon btn-outline-danger"><i class="feather icon-trash-2"></i></button>
              </td>
            </tr>          </tbody>
          <tfoot>
          <tr>
            <th>Code</th>
            <th>Libellé(Fr)</th>
            <th>Description(Fr)</th>
            <th>Libellé(En)</th>
            <th>Description(En)</th>
            <th>Date d'activation</th>
            <th>Frais d'adhésion</th>
            <th>Montant contribution</th>
            <th>Type de tontine</th>
          </tr>
          </tfoot>
        </table>
      </div> -->
    </app-card>
  </div>
</div>
 
<ng-template #participantModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modification tontine</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="col-md-12">
          <form #form="ngForm" autocomplete="off">    
            <div class="row">  
              <div style="display: inline;" class=" col-md-6 form-group">
                <label for="exampleFormControlSelect1">Choix de la cooperative</label>
                <select (change)="getTontineList(cooperativeId); getMemberList(cooperativeId)"  class="form-control" id="cooperativeId" name="cooperativeId"  [(ngModel)]="cooperativeId" >
                  <option value="0">--- Choix coopérative ---</option>
                  <option *ngFor="let cooperative of cooperativeList" value="{{cooperative.Id}}">{{cooperative.Code}} - {{cooperative.Name[0].Text}}</option>
                </select>
              </div>
              <div style="display: inline;" class=" col-md-6 form-group">
                <label for="exampleFormControlSelect1">Choix de la tontine</label>
                <select (change)="getParticipantList(tontineId)"  class="form-control" id="tontineId" name="tontineId"  [(ngModel)]="tontineId" >
                  <option value="0">--- Choix tontine ---</option>
                  <option *ngFor="let tontine of tontineList" value="{{tontine.Id}}">{{tontine.Code}} - {{tontine.Name[0].Text}}</option>
                </select>
              </div>
              <div style="display: inline;" class=" col-md-9 form-group">
                <label for="exampleFormControlSelect1">Choix du participant</label>
                <select (change)="getParticipantDetails(memberId)"  class="form-control" id="memberId" name="memberId"  [(ngModel)]="memberId" >
                  <option value="0">--- Choix participant ---</option>
                  <option *ngFor="let member of participantList" value="{{member.Id}}">{{member.MemberCode}} - {{member.Lastname}} {{member.Firstname}}</option>
                </select>
              </div>
              <div *ngIf="participantDetails && participantDetails.MemberCode !== ''" class=" col-md-3 form-group">
                <label>Part </label>
                <input [(ngModel)]="part" name="part" type="number" class="form-control" placeholder="Code">
              </div>
              <div class="row" *ngIf="participantDetails && participantDetails.MemberCode !== ''">
              <div  class=" col-md-12 form-group">
                <label>Code </label>
                <input disabled [(ngModel)]="participantDetails.MemberCode" name="MemberCode" type="text" class="form-control" placeholder="Code">
              </div>
              <div class="col-md-4 form-group">
                <label>Nom</label>
                <input disabled [(ngModel)]="participantDetails.Lastname"  name="Lastname" type="text" class="form-control" placeholder="Libellé français" >
              </div>            
              <div class="col-md-4 form-group">
                <label> Prénoms</label>
                <input disabled [(ngModel)]="participantDetails.Firstname" name="Firstname" type="text" class="form-control" placeholder="Description français">
              </div>  
              <div class="col-md-4 form-group">
                <label>Contact</label>
                <input disabled [(ngModel)]="participantDetails.PhoneNumber" name="PhoneNumber" class="form-control" placeholder="Libellé Anglais">
              </div> 
              <div>
              </div>
          </div>
          </div>  
          </form>
      </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="part == 0" type="submit" class="btn btn-outline-dark" (click)="addParticipants2Tontine()">Ajouter le participant</button>
  </div>
</ng-template>
